<header class="grid-spaceBetween-middle mainNav" id="navbar">
  <nav>
    <a href="http://instagram.com/justynjen"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
    <a href="http://pinterest.com/justynjen"><i class="fa fa-pinterest fa-2x" aria-hidden="true"></i></a>
    <a href="http://facebook.com/justynjen"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
    <a href="http://twitter.com/justynjen"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
  </nav>
   <nav>
      <a href="/"> Home </a>
      <a href="/about"> About </a>
      <a href="/blog"> Blog </a>
      <a href="/contact"> Work with me </a>
   </nav>
</header>
<header class="hamburger">
  <nav class="hamburger">
	<div class="hamburger-button">
			<span class="hamburger-top"></span>
			<span class="hamburger-middle"></span>
			<span class="hamburger-bottom"></span>
	</div>
  <div class="hamburger-menu">
    <ul>
    <li><a href="/index">Home</a></li>
    <li><a href="/about">About Me</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/contact">Work with me</a></li>
    <!-- <li><a href="/shop.html">Shop The Prints</a></li> -->
      <hr />
    <a class="socialIcon" href="https://www.instagram.com/justynjen/?hl=en"target="blank"><i class="fa fa-instagram " aria-hidden="true"></i></a>
    <a class="socialIcon" href="https://www.facebook.com/justynjen/"target="blank"><i class="fa fa-facebook-official " aria-hidden="true"></i></a>
    <a class="socialIcon" href="https://www.pinterest.com/justynjen/"target="blank"><i class="fa fa-pinterest " aria-hidden="true"></i></a>
  </ul>
</div>
</nav>
</header>
